/* 1250 - 1460px */
@media screen and (max-width: 1460px) {
    #news-popup-container {
        width: 700px;
        text-align: left;
    }
    .news-image {
        text-align: right;
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .news-image img {
        width: 340px;
    }
    #news-prev, #news-next {
        top: 234px;
    }
    #news-popup-container .info-text:first-child {
        margin-top: 28px;
    }
}
/* 1201 - 1249px */
@media screen and (max-width: 1249px) {
    #main-container,
    #traditions-container,
    #price-container,
    #philosophy-container,
    #bestseller-container,
    #footer-container {
        margin-left: 30px;
        margin-right: 30px;
    }
    #bestseller-bottle {
        margin-left: 20px;
    }
    #tours-slides {
        max-width: 1040px;
    }
    .tour-info-text ul li:first-child {
        margin-top: 20px;
    }
    #tours-slides .prev-btn {
        left: -50px;
    }
    #tours-slides .next-btn {
        right: -50px;
    }
    #blog-slider-and-arrows {
        max-width: 1061px;
     }
    .blog-slide-img-first,
    .blog-slide-text-first {
        margin-right: 21px;
    }
    #blog-slider-viewport {
        max-width: 1061px;
    }
    #open-basket-container {
        width: 1048px;
    }
    #open-basket-orders-heading,
    #ordered-wines,
    #open-basket-total {
        padding-left: 45px;
    }
    #gallery-container {
        width: 764px;
    }
    .gallery-big-img {
        width: 764px;
        height: 380px;
    }
    .gallery-thumb {
        width: 179px;
    }
}
/* 1121 - 1200px */
@media screen and (max-width: 1200px) {
    #traditions-img img {
        width: 462px;
    }
    #traditions-img .round-btn {
        top: 170px;
    }
    #traditions h2 {
        max-width: 394px;
    }
    #traditions .info-text {
        max-width: 530px;
    }
    #products-descriptions {
        max-width: 480px;
    }
    #bestseller-bottle {
        width: 400px;
    }
    #bestseller-bottle img{
        width: 400px;
        margin-top: 20px;
    }
    #bestseller-type {
        top: 200px;
    }
    #bestseller-alcohol {
        right: 48px;
    }
    #bestseller-vintage {
        right: 5px;
    }
    #bestseller-type {
        left: -90px;
    }
    #tours-slides {
        max-width: 960px;
    }
    .tour-info-text ul li:first-child {
        margin-top: 16px;
    }
    .tour-info-text ul li {
        line-height: 1;
    }
    .tour-info-text ul li:last-child {
        margin-bottom: 18px;
    }
    #tours-slides .white-line {
        margin-bottom: 18px;
    }
    .tour-duration {
        margin-left: 0;
    }
    .tour-amount-cost {
        margin-right: 0;
    }
    #tours_prev,
    #tours_next,
    #one-berry {
        display: none;
    }
    #berries {
        width: 182px;
        left: -34px;
        bottom: -180px;
    }
    #barrel {
        width: 108px;
        left: -24px;
        bottom: -126px;
    }
    #second-slide-grape {
        width: 126px;
        left: 18px;
        bottom: -132px;
    }
    #basket-of-grape {
        width: 158px;
        left: -24px;
        bottom: -135px;
    }
    #third-slide-grape {
        width: 93px;
        left: 64px;
        bottom: -95px;
    }
    #tours-slides {
        margin-top: 40px;
    }
    #tours-options {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    #tours-options .btn-empty {
        font-size: 16px;
        letter-spacing: 0.02em;
        border-radius: 17px;
        height: 34px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 15px;
    }
    #tours-options .btn-empty.active,
    #tours-options .btn-empty:hover {
        border-color: #d6be97;
        color: #d6be97;
    }
    .blog-slide-img-first,
    .blog-slide-text-first {
        width: 451px;
        scroll-snap-align: start;
    }
    #blog-slider-viewport {
        max-width: 1024px;
        overflow-x: scroll;
        -ms-overflow-style: none; /* for IE and Edge */
        scrollbar-width: none; /* for Firefox */
        scroll-snap-type: x mandatory;
        scroll-padding: 0 35px;
    }
    #blog-slider-viewport::-webkit-scrollbar {
        display: none;
    }
    #blog-prev,
    #blog-next {
        display: none;
    }
    #desktop-blog-dots {
        display: none;
    }
    #mobile-blog-dots {
        display: flex;
    }
    #open-basket-container {
        width: 940px;
     }
    .ordered-wine-img {
        width: 95px;
    }
    .ordered-wine-img img {
        transform: scale(0.75) rotate(-90deg);
    }
    #open-basket-orders-heading,
    #ordered-wines,
    #open-basket-total {
        padding-left: 25px;
    }
    .ordered-wine {
        margin-right: 25px;
    }
}
/* 1070 - 1120px */
@media screen and (max-width: 1120px) {
    #traditions .info-text {
        max-width: 514px;
    }
    #philosophy-video img {
        width: 482px;
    }
    #play-button {
        left: 221px;
        top: 158px;
    }
    #traditions-container {
        margin-top: 300px;
    }
}
/* 1024 - 1069px */
@media screen and (max-width: 1069px) {
    #traditions .info-text {
        max-width: 470px;
    }
    #open-basket-container {
        width: 880px;
    }
    #open-basket-container .popup-input {
        width: 260px;
    }
    #open-basket-form {
        width: 304px;
    }
    #news-popup-container {
        width: 650px;
    }
    .news-image img {
        width: 280px;
    }
}
/* 768 - 1023px */
@media screen and (max-width: 1023px) {

}

/* 425 - 767px */
@media screen and (max-width: 767px) {

}

/* 375 - 424px */
@media screen and (max-width: 424px) {

}

/* 320 - 374px */
@media screen and (max-width: 374px) {

}