/* 1250 - 1460px */
@media screen and (max-width: 1460px) {
    #news-popup-container {
        width: 700px;
        text-align: left;
    }
    .news-image {
        text-align: right;
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .news-image img {
        width: 340px;
    }
    #news-prev, #news-next {
        top: 234px;
    }
    #news-popup-container .info-text:first-child {
        margin-top: 28px;
    }
}
/* 1201 - 1249px */
@media screen and (max-width: 1249px) {
    #main-container,
    #traditions-container,
    #price-container,
    #philosophy-container,
    #bestseller-container,
    #footer-container {
        margin-left: 30px;
        margin-right: 30px;
    }
    #bestseller-bottle {
        margin-left: 20px;
    }
    #tours-slides {
        max-width: 1040px;
    }
    .tour-info-text ul li:first-child {
        margin-top: 20px;
    }
    #tours-slides .prev-btn {
        left: -50px;
    }
    #tours-slides .next-btn {
        right: -50px;
    }
    #blog-slider-and-arrows {
        max-width: 1061px;
     }
    .blog-slide-img-first,
    .blog-slide-text-first {
        margin-right: 21px;
    }
    #blog-slider-viewport {
        max-width: 1061px;
    }
    #open-basket-container {
        width: 1048px;
    }
    #open-basket-orders-heading,
    #ordered-wines,
    #open-basket-total {
        padding-left: 45px;
    }
    #gallery-container {
        width: 764px;
    }
    .gallery-big-img {
        width: 764px;
        height: 380px;
    }
    .gallery-thumb {
        width: 179px;
    }
    #gallery-prev,
    #gallery-next {
        top: 215px;
    }
}
/* 1121 - 1200px */
@media screen and (max-width: 1200px) {
    #traditions-img img {
        width: 462px;
    }
    #traditions-img .round-btn {
        top: 170px;
    }
    #traditions h2 {
        max-width: 394px;
    }
    #traditions .info-text {
        max-width: 530px;
    }
    #products-descriptions {
        max-width: 480px;
    }
    #bestseller-bottle {
        width: 400px;
    }
    #bestseller-bottle img{
        width: 400px;
        margin-top: 20px;
    }
    #bestseller-type {
        top: 200px;
    }
    #bestseller-alcohol {
        right: 48px;
    }
    #bestseller-vintage {
        right: 5px;
    }
    #bestseller-type {
        left: -90px;
    }
    #tours-slides {
        max-width: 960px;
    }
    .tour-info-text ul li:first-child {
        margin-top: 16px;
    }
    .tour-info-text ul li {
        line-height: 1;
    }
    .tour-info-text ul li:last-child {
        margin-bottom: 18px;
    }
    #tours-slides .white-line {
        margin-bottom: 18px;
    }
    .tour-duration {
        margin-left: 0;
    }
    .tour-amount-cost {
        margin-right: 0;
    }
    #tours_prev,
    #tours_next,
    #one-berry {
        display: none;
    }
    #berries {
        width: 182px;
        left: -34px;
        bottom: -180px;
    }
    #barrel {
        width: 108px;
        left: -24px;
        bottom: -126px;
    }
    #second-slide-grape {
        width: 126px;
        left: 18px;
        bottom: -132px;
    }
    #basket-of-grape {
        width: 158px;
        left: -24px;
        bottom: -135px;
    }
    #third-slide-grape {
        width: 93px;
        left: 64px;
        bottom: -95px;
    }
    #tours-slides {
        margin-top: 40px;
    }
    #tours-options {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    #tours-options .btn-empty {
        font-size: 16px;
        letter-spacing: 0.02em;
        border-radius: 17px;
        height: 34px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 15px;
    }
    #tours-options .btn-empty.active,
    #tours-options .btn-empty:hover {
        border-color: #d6be97;
        color: #d6be97;
    }
    .blog-slide-img-first,
    .blog-slide-text-first {
        width: 451px;
        scroll-snap-align: start;
    }
    #blog-slider-viewport {
        max-width: 1024px;
        overflow-x: scroll;
        -ms-overflow-style: none; /* for IE and Edge */
        scrollbar-width: none; /* for Firefox */
        scroll-snap-type: x mandatory;
        scroll-padding: 0 35px;
    }
    #blog-slider-viewport::-webkit-scrollbar {
        display: none;
    }
    #blog-prev,
    #blog-next {
        display: none;
    }
    #desktop-blog-dots {
        display: none;
    }
    #mobile-blog-dots {
        display: flex;
    }
    #open-basket-container {
        width: 940px;
     }
    .ordered-wine-img {
        width: 95px;
    }
    .ordered-wine-img img {
        transform: scale(0.75) rotate(-90deg);
    }
    #open-basket-orders-heading,
    #ordered-wines,
    #open-basket-total {
        padding-left: 25px;
    }
    .ordered-wine {
        margin-right: 25px;
    }
    #no-orders {
        width: 529px;
    }
}
/* 1070 - 1120px */
@media screen and (max-width: 1120px) {
    #traditions .info-text {
        max-width: 514px;
    }
    #philosophy-video img {
        width: 482px;
    }
    #play-button {
        left: 221px;
        top: 158px;
    }
    #traditions-container {
        margin-top: 300px;
    }
}
/* 1024 - 1069px */
@media screen and (max-width: 1069px) {
    #traditions .info-text {
        max-width: 470px;
    }
    #open-basket-container {
        width: 880px;
    }
    #open-basket-container .popup-input {
        width: 260px;
    }
    #open-basket-form {
        width: 304px;
    }
    #news-popup-container {
        width: 650px;
    }
    .news-image img {
        width: 280px;
    }
}
/* 768 - 1023px */
@media screen and (max-width: 1023px) {
    #traditions-container {
        display: block;
    }
    #traditions-text {
        margin: 50px auto 0 auto;
    }
    #traditions-text-split {
        display: block;
        margin: 0 auto;
    }
    #traditions-text .info-text:nth-child(3),
    #traditions-text .info-text:nth-child(4) {
        display: none;
    }
    #traditions-text h2 {
        max-width: unset;
        text-align: center;
    }
    #traditions-text,
    #traditions-text-split,
    #traditions-container .info-text {
        max-width: 680px;
    }
    #traditions-img {
        text-align: center;
        margin: 30px auto 0 auto;
    }
    #traditions-text-split .info-text:last-child {
        margin-top: 30px;
    }
    #products {
        display: block;
    }
    #current-price-header,
    #product-year {
        display: none;
    }
    #products-descriptions-mobile {
        display: block;
        margin-top: 40px;
    }
    #product-year-mobile {
        margin-top: 16px;
    }
    #products-images {
        margin: 30px auto 0 auto;
    }
    #product-image {
        max-width: 560px;
        margin: 0 auto;
    }
    #barrels {
        top: -19px;
    }
    #products-descriptions {
        margin: 0 auto;
    }
    #philosophy-info {
        display: block;
    }
    .philosophy-step-arrow-mobile {
        display: block;
    }
    #philosophy-steps {
        max-width: 340px;
        margin: 0 auto;
        position: relative;
    }
    .sub-step-arrow-left,
    .sub-step-arrow-right,
    .even-step-image,
    .odd-step-image {
        display: none;
    }
    .philosophy-step-arrow-mobile {
        text-align: center;
    }
    .philosophy-step-and-sub-step {
        margin-bottom: 0;
    }
    .philosophy-even-step {
        justify-content: flex-end;
    }
    .philosophy-even-step .step-number-in-the-round {
        order: 2;
    }
    .step-heading {
        margin-left: 25px;
    }
    .philosophy-even-step .step-heading {
        order: 1;
        margin-right: 25px;
    }
    .even .sub-step-text {
        margin-left: auto;
        margin-right: 77px;
    }
    .odd .sub-step-text {
        margin-left: 79px;
    }
    .sub-step-text.info-text {
        max-width: 280px;
    }
    .philosophy-step-and-sub-step.active img {
        margin-top: -4px;
        margin-bottom: -8px;
    }
    .philosophy-step-and-sub-step.active img {
        margin-top: 12px;
    }
    #philosophy-video {
        text-align: center;
        max-width: 482px;
        margin: 50px auto 0 auto;
    }
    #philosophy-grape-mobile {
        display: unset;
        position: absolute;
        z-index: -1;
        top: -60px;
        left: -157px;
        width: 640px;
        transform: rotate(219deg);
    }
    #bestseller-container {
        display: block;
    }
    #bestseller-name {
        text-align: center;
    }
    #bestseller-name .bestseller-line {
        margin: 20px auto;
    }
    #bestseller-name h2 {
        max-width: unset;
    }
    #bestseller-bottle {
        text-align: center;
        margin: 0 auto;
    }
    #bestseller-bottle img {
        margin-left: 35px;
        margin-top: 40px;
    }
    #bestseller-type {
        left: -45px;
        top: 93px;
    }
    #bestseller-grape {
        left: -107px;
        top: 269px;
    }
    #bestseller-alcohol {
        right: 8px;
    }
    #bestseller-vintage {
        right: -40px;
    }
    #bestseller-char {
        max-width: 615px;
        margin: 20px auto 0 auto;
    }
    #bestseller-char .info-text {
        max-width: 360px;
    }
    #bestseller-price-tag {
        float: left;
    }
    #bestseller-amount {
        margin: 30px 0 40px 100px;
    }
    #bestseller-action {
        clear: both;
    }
    #plugs {
        top: 88px;
    }
    .tour-slide {
        display: block;
        max-width: 708px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 40px;
    }
    .tour-info {
        display: block;
        width: 100%;
    }
    .tour-image {
        display: none;
    }
    .tour-mobile-img {
        display: block;
        width: 519px;
        height: 300px;
        margin: 25px auto 0 auto;
        border-radius: 15px;
    }
    .tour-info-text ul li:first-child {
        margin-top: 25px;
    }
    .tour-info-text ul li:last-child {
        margin-bottom: 25px;
    }
    .tour-info-text ul li {
        margin-bottom: 15px;
    }
    #tours-slides .white-line {
        margin-bottom: 25px;
    }
    #footer-navigation {
        display: none;
    }
    #footer-logo-and-slogan {
        margin-right: 25px;
    }
    #footer-logo-and-slogan .info-text {
        max-width: 180px;
    }
    #spring2 {
        right: -402px;
    }
    #footer-contacts .info-text {
        max-width: 220px;
    }
    #open-basket-container {
        display: block;
        max-width: 575px;
    }
    .open-basket-big-title {
        text-align: center;
    }
    #open-basket-orders-heading {
        padding: 0;
        margin-left: 25px;
    }
    #open-basket-orders {
        padding-top: 30px;
        padding-bottom: 25px;
    }
    #open-basket-container .close-popup {
        top: 20px;
        right: 20px;
    }
    #ordered-wines {
        margin-top: 5px;
        margin-bottom: 25px;
    }
    #open-basket-form {
        padding-top: 40px;
        width: 100%;
        border-radius: 0 0 25px 25px;
        border-left: none;
        border-top: 1px solid rgb(214, 191, 152);
    }
    #open-basket-inputs {
        margin-top: 25px;
    }
    #open-basket-container .popup-input {
        width: 360px;
    }
    #no-orders {
        width: 525px;
    }
    #gallery-next,
    #gallery-prev {
        display: none;
    }
    #gallery-container {
        width: 628px;
    }
    .gallery-big-img {
        width: 628px;
        height: 400px;
    }
    .gallery-thumb {
        width: 145px;
    }
    #video-popup-container {
        max-width: 640px;
    }
    #video-popup-container iframe {
        width: 640px;
        height: 360px;
    }
    .news-image img {
        display: none;
    }
    #news-popup-container .title-text {
        text-align: center;
    }
    #news-popup-container {
        width: 380px;
    }
}

/* 576 - 767px */
@media screen and (max-width: 767px) {
    #header-links {
        display: none;
    }
    #burger {
        display: block;
    }
    #logo-and-header-links {
        width: calc(50% + 34px);
        justify-content: space-between;
    }
    #main-info h1 {
        text-align: center;
        font-size: 48px;
        margin: 120px auto 140px auto;
    }
    #main-actions {
        justify-content: center;
    }
    h2 {
        font-size: 36px;
    }
    #traditions-container {
        margin-top: 200px;
    }
    #traditions-container h2 {
        max-width: 268px;
        margin: 0 auto;
    }
    #traditions-text .info-text:nth-child(2) {
        margin-top: 40px;
    }
    #traditions-text,
    #traditions-text-split,
    #traditions-container .info-text {
        width: 100%;
    }
    #price-container h2 {
        margin-top: 200px;
    }
    #options {
        margin-top: 40px;
    }
    #options .btn-empty {
        margin: 0 5px;
    }
    #products-images {
        width: 365px;
    }
    #product-image img {
        height: 754px;
    }
    #product-image {
        height: 450px;
    }
    #price .prev-btn,
    #price .next-btn {
        top: 225px;
    }
    #price .prev-btn {
        left: 8px;
    }
    #price .next-btn {
        right: 8px;
    }
    #products-descriptions-mobile h3,
    #year-mobile {
        font-size: 26px;
    }
    #product-characteristics-alcohol {
        order: 1;
        display: block;
        max-width: 62px;
        text-align: center;
    }
    #product-characteristics>div>span {
        margin-left: 0;
    }
    #product-characteristics-type {
        order: 2;
        display: block;
        max-width: 116px;
        text-align: center;
    }
    #product-characteristics-type #type-first-span {
        margin: 0 45px;
    }
    #product-characteristics-volume {
        order: 3;
        display: block;
        max-width: 44px;
        text-align: center;
    }
    #philosophy-container h2 {
        max-width: 408px;
        margin-left: auto;
        margin-right: auto;
    }
    #bestseller-bottle img {
        width: 250px;
        margin-left: 0;
    }
    #bestseller-bottle .bestseller-line {
        width: 35px;
    }
    .bestseller-bottle-char-info {
        text-align: left;
    }
    #bestseller-grape {
        left: 215px;
        top: 49px;
    }
    #bestseller-grape .bestseller-line,
    #bestseller-alcohol .bestseller-bottle-char-info {
        order: 1;
    }
    #bestseller-grape .bestseller-bottle-char-info,
    #bestseller-alcohol .bestseller-line {
        order: 2;
    }
    #bestseller-alcohol .bestseller-line,
    #bestseller-type .bestseller-line {
        margin-left: 8px;
        margin-right: 0;
    }
    #bestseller-vintage .bestseller-line,
    #bestseller-grape .bestseller-line {
        margin-right: 8px;
        margin-left: 0;
    }
    #bestseller-alcohol {
        top: 185px;
        right: 290px;
    }
    #bestseller-type {
        left: 36px;
        top: 53px;
    }
    #bestseller-type .bestseller-bottle-char-info {
        max-width: 66px;
    }
    #bestseller-vintage {
        right: 36px;
    }
    #plugs {
        display: none;
    }
    #plugs-mobile {
        display: unset;
        position: absolute;
        z-index: -1;
        top: 412px;
        left: -72px;
    }
    #bestseller-char .white-line {
        display: block;
        margin-top: 25px;
    }
    #bestseller-amount,
    #bestseller-price-tag{
        margin-top: 0;
    }
    #tours-container {
        margin-left: 30px;
        margin-right: 30px;
    }
    #tours-options {
        margin-top: 40px;
    }
    .tour-slide {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 540px;
    }
    .tour-info-text {
        margin-left: 0;
        margin-right: 0;
    }
    .tour-mobile-img {
        width: 100%;
    }
    .blog-slide-img-first, .blog-slide-text-first {
        width: 375px;
        margin-top: 40px;
    }
    .blog-slide-img-first .info-text,
    .blog-slide-text-first .info-text {
        height: 80px;
    }
    #footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #slogan {
        display: none;
    }
    #footer-logo-and-slogan {
        order: 1;
    }
    #footer-subscribe {
        order: 2;
        margin-top: 35px;
    }
    #footer-contacts {
        order: 3;
        margin-top: 30px;
    }
    #social-media {
        margin-top: 25px;
        justify-content: center;
    }
    #gallery-container {
        width: 464px;
    }
    .gallery-big-img {
        width: 464px;
        height: 300px;
        border-radius: 15px;
    }
    .gallery-thumb {
        width: 107px;
        height: 80px;
        border-radius: 15px;
    }
    #video-popup-container {
        max-width: 384px;
    }
    #video-popup-container iframe {
        width: 384px;
        height: 216px;
    }
    #video-popup-container .close-popup {
        top: -40px;
        right: 0;
    }
    #tour-popup-container{
        max-width: 380px;
    }
    #tour-popup-container .close-popup,
    #news-popup-container .close-popup,
    #thank-you-container .close-popup,
    #tour-thank-you-container .close-popup,
    #send-error-container .close-popup {
        top: 20px;
        right: 20px;
    }
    #news-popup-container {
        max-width: 380px;
        box-sizing: border-box;
        padding: 40px 40px;
    }
    .blog-news {
        margin: 0 auto;
    }
    #news-prev {
        left: 15px;
        top: 275px;
    }
    #news-next {
        right: 15px;
        top: 275px;
    }
    .blog-news {
        max-width: 260px;
    }
    .blog-news .info-text {
        font-size: 15px;
    }
    #thank-you-container,
    #tour-thank-you-container {
        max-width: 360px;
    }
    #send-error-container {
        max-width: 180px;
    }

}
/* 576 - 630px */
@media screen and (max-width: 630px) {
    #open-basket-container {
        max-width: 365px;
    }
    #no-orders {
        max-width: 315px;
    }
    #open-basket-total {
        flex-direction: column;
    }
    #open-basket-total-cost {
        margin-top: 15px;
    }
    .ordered-wine-all-info {
        flex-direction: column;
        margin-left: 15px;
    }
    .ordered-wine-cost {
        order: 2;
    }
    .ordered-wine-amount-regulation {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }
    .ordered-wine-type-alc {
        margin-bottom: 6px;
    }
    .ordered-wine-img,
    .ordered-wine {
        height: 120px;
    }
    #ordered-wines {
        height: 180px;
        margin-top: 0;
        padding-left: 33px;
    }
    .ordered-wine {
        margin-right: 10px;
    }
    .ordered-wine-info {
        margin-right: 0;
        margin-left: 0;
    }
    .ordered-wine-cost {
        margin-left: 15px;
    }
    .ordered-wine-del {
        margin-right: 15px;
    }
    #open-basket-container .popup-input {
        width: 313px;
    }
    #gallery-container {
        width: 420px;
    }
    .gallery-big-img {
        width: 420px;
        height: 300px;
    }
    .gallery-thumb {
        width: 96px;
        height: 80px;
    }
}
/* 541 - 575px */
@media screen and (max-width: 575px) {
    .tour-slide {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .tour-mobile-img {
        width: 100%;
        height: 280px;
    }
    #gallery-container {
        width: 380px;
    }
    #gallery-container .close-popup {
        top: -25px;
        right: -25px;
    }
    .gallery-big-img {
        width: 380px;
        height: 260px;
    }
    .gallery-thumb {
        width: 83px;
        height: 68px;
    }
}
/* 521 - 540px */
@media screen and (max-width: 540px) {
    #philosophy-video img {
        width: 100%;
    }
    #play-button {
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }
    .blog-slide-img-first, .blog-slide-text-first {
        width: 310px;
    }
    .blog-slide-img-first .info-text,
    .blog-slide-text-first .info-text {
        height: 100px;
    }
}
/* 476 - 520px */
@media screen and (max-width: 520px) {
    #traditions-img img {
        width: 100%;
    }
    #traditions-img .round-btn {
        top: calc(50% - 15px);
        left: calc(50% - 73px);
    }
    #tours-options .btn-empty {
        margin: 0 5px;
    }
    .tour-info-heading.title-text {
        font-size: 20px;
    }
    .blog-slide-img-first, .blog-slide-text-first {
        width: 280px;
        margin-right: 10px;
    }
}
/* 470 - 475px */
@media screen and (max-width: 475px) {
    .tour-mobile-img {
        height: 230px;
    }
    #gallery-container {
        width: 320px;
    }
    .gallery-big-img {
        width: 320px;
        height: 220px;
    }
    .gallery-thumb {
        width: 68px;
        height: 68px;
    }
}
/* 425 - 469px */
@media screen and (max-width: 469px) {
    #options {
        text-align: left;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none; /* for IE and Edge */
        scrollbar-width: none; /* for Firefox */
        margin-right: -30px;
        padding-left: 30px;
        margin-left: -30px;
    }
    #options::-webkit-scrollbar {
        display: none;
    }
    #philosophy-grape-mobile {
        transform: unset;
        left: -33px;
    }
    #tours-options {
        text-align: left;
        white-space: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none; /* for IE and Edge */
        scrollbar-width: none; /* for Firefox */
        margin-right: -30px;
        padding-left: 30px;
        margin-left: -30px;
    }
    #tours-options::-webkit-scrollbar {
        display: none;
    }
}
/* 375 - 424px */
@media screen and (max-width: 424px) {

}

/* 320 - 374px */
@media screen and (max-width: 374px) {

}